@import url("https://fonts.googleapis.com/css?family=Glober&display=swap");

.main_map {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.country {
  cursor: pointer;
}

.year_slider {
  height: 25px;
  width: 60vw;
  margin: 0 auto;
}

.happiness_slider {
  width: 90%;
  margin: 10px auto;
}

.line_graphs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.map {
  padding-top: 1%;
  padding-right: 1%;
  grid-column: 1;
  margin: 0 auto;
}

.map_selector {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.landMesh {
  stroke-width: 2px;
  stroke: black;
  fill: none;
}

.countriesMesh {
  stroke-width: 1px;
  stroke: darkgray;
  fill: none;
}

.graticule {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}

.gridlines .domain {
  display: none;
}

.gridlines line {
  stroke: #aaa;
}

.line {
  stroke-width: 3;
  fill: none;
}

.point {
  stroke-width: 2;
  fill: black;
}

.life-ladder {
  stroke: orange;
}

.gdp-capita {
  stroke: magenta;
}

.social-support {
  stroke: darkblue;
}

.health-life-expectancy {
  stroke: green;
}

.freedom {
  stroke: skyblue;
}

.generosity {
  stroke: maroon;
}

.corruption {
  stroke: purple;
}

.positive-affect {
  stroke: teal;
}

.negative-affect {
  stroke: burlywood;
}

.yearLine {
  stroke: black;
  stroke-width: 2px;
}

.annotation {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #778899;
  font-family: "Glober", sans-serif;
}

.slider_labels {
  display: flex;
  justify-content: space-between;
  color: #778899;
  font-family: "Glober", sans-serif;
}

#year_slider {
  font-weight: 800;
  color: #778899;
  font-family: "Glober", sans-serif;
}

.header-box {
  text-align: center;
  color: #778899;
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 75px;
  font-weight: 600;
  font-family: "Glober", sans-serif;
}

.authors {
  text-align: center;
  color: #778899;
  padding: 0 0 30 0;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 200;
  font-family: "Glober", sans-serif;
}

.graph_label {
  fill: #778899;
  text-anchor: middle;
  font-size: 25px;
  font-family: "Glober", sans-serif;
}

.country-title {
  color: #778899;
  text-anchor: middle;
  font-weight: 600;
  font-family: "Glober", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 30px;
  padding: 5;
  color: #778899;
  text-align: center;
  font-family: "Glober", sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin: 5px;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

#button-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#button-bar button {
  flex: 1 1 20%;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
